<html>
<head>
    <title>What is my Breed?</title>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"
    rel="stylesheet" type="text/css">
	<link
	    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css"
	    rel="stylesheet" type="text/css">
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <style type="text/css">
    	#dog_picture{
		    height: auto; 
		    width: auto; 
		    max-width: 500px; 
		    max-height: 500px;   
		}
		#predictions{
			float:left;
			width: 30%;
			margin: 0;
		}
		
		#instruction_block{
			width: 50%;
			margin: 0;
			float:left;
		}
		#header{
			text-align: left;
			margin-bottom: 30px;
			margin-top: 20px;
		}
		

    </style>
</head>
<body>
	
	<h1 id="header">Find out your dog's breed using Pre-trained ResNet50 </h1>

	<div id="instruction_block">
		<div id="submit_block">
			<h3>Enter Your dog's Jpeg Image</h3>
			<p style="color:red;">{{error}}</p>
			<form method=POST enctype=multipart/form-data action="{{ url_for('predict') }}">
			    <input type=file name=photo>
			    <input type="submit">
			</form>
			<p></p>
		</div>	

		<div id="dog_image">
			<img id="dog_picture" src="{{url_for('static', filename='img/' + photo_name)}}"/>
		</div>
	</div>
	<dir id="predictions">
		<h3>Your dog's breed is: <i>{{top_class}}</i></h3>
    	{{script | safe}}
    	{{div | safe}}
	</dir>
	
</body>
</html>